@import "tailwindcss";

@theme {
  --font-family-josefin: var(--font-josefin-sans), sans-serif;
  --font-family-audiowide: var(--font-audiowide), cursive;
  --animate-spin-slow: spin 6s linear infinite;
}

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
    --color-base-100:#731e1c;
    --color-base-300:#612729;
    --color-primary:#bbbbbf ;
    --color-secondary:#fff ;
    --color-accent:#fd9a00;
    --primary-content:#393A47 ;
    --color-info:#bbbbbf  ;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
    --color-base-100:#09090b;
    --color-primary:#fff ;
    --color-secondary:#fff ;
    --color-accent:#fff;
    --primary-content:#0DE3F41A ;
    --color-info:#fd9a00 ;
}

